//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	padding-top: rem(5);
	padding-bottom: rem(5);
	background-color: rgba(255, 255, 255, 0.75);
	// .header__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(15);
		padding-top: rem(5);
		padding-bottom: rem(5);
		min-height: 80px;
		@media (max-width: $mobile) {
			min-height: 60px;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
	}

	// .header__menu

	&__menu {
	}

	// .header__button
	&__button {
		position: relative;
		z-index: 5;
		border: rem(1) solid #f1f1f1;
		border-radius: rem(8);
		font-weight: 500;
		font-size: rem(14);
		line-height: math.div(17, 14);
		padding: rem(15) rem(24);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $purpleColor;
				border: rem(1) solid $purpleColor;
				color: #fff;
			}
		}
		@media (max-width: $mobile) {
			padding: rem(10) rem(15);
			color: #fff;
			border: rem(1) solid $mainColor;
			background-color: $mainColor;
		}
	}

	// .header__actions

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(15);
	}
}
.menu {
	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			display: flex;
			justify-content: end;
			align-items: center;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			transition: all 0.3s ease 0s;
			background-color: $purpleColor;
			padding: rem(90) rem(15) rem(30) rem(15);
			&::before {
				content: "";
				position: fixed;
				top: 0;
				right: -100%;
				transition: all 0.3s ease 0s;
				width: 100%;
				height: rem(60);
				background-color: #b9b5e6;
				z-index: 2;
			}
			.menu-open & {
				right: 0;
				&::before {
					right: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		flex-wrap: wrap;
		@media (min-width: $mobile) {
			display: flex;
			row-gap: rem(5);
			@include adaptiveValue("column-gap", 56, 15, 0, 1200, 768);
		}
	}

	// .menu__item

	&__item {
		transition: color 0.3s ease 0s;
		text-align: right;
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}

	// .menu__link

	&__link {
		font-weight: 500;
		line-height: 118.75%; /* 19/16 */
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
				text-decoration: underline;
			}
		}
		@media (max-width: $mobile) {
			color: #fff;
			font-size: rem(32);
		}
		&._navigator-active {
			text-decoration: underline;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		flex: 0 0 rem(30);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
