.main-section {
	// .main-section__container

	&__container {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		padding-top: rem(70);
		padding-bottom: rem(20);
		column-gap: rem(20);
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			row-gap: rem(20);
		}
	}

	// .main-section__content

	&__content {
	}

	// .main-section__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 20);
		}
	}

	// .main-section__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 20);
		}
	}

	// .main-section__decor

	&__decor {
	}

	// .main-section__image

	&__image {
	}
}
.decor-main-section {
	// .decor-main-section__image
	max-width: 336px;
	margin: 0 rem(22);
	justify-self: center;
	@media (min-width: $mobile) {
		width: 100%;
		justify-self: end;
	}
	@media (max-width: $mobile) {
		max-width: none;
		@include adaptiveValue('width', 336, 246);
	}
	// .decor-main-section__box
	&__box {
		position: relative;
		padding-bottom: percent(400, 336);
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: rem(16);
		}
		&::before {
			z-index: 1;
			background-color: $purpleColor;
			transform: rotate(-9.95deg);
		}
		&::after {
			z-index: 2;
			background: #eae6fe url('@img/main/lines.svg') top right / 58% no-repeat;
		}
	}
	// .decor-main-section__image
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: rem(16);
		overflow: hidden;
	}
	// .decor-main-section__picture
	&__picture {
		z-index: 3;
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 80%;
	}
}
// ===========================
.portfolio {
	// .portfolio__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(70);
		padding-bottom: rem(20);
	}

	// .portfolio__header

	&__header {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue('margin-bottom', 30, 20);
		@media (max-width: em(600)) {
			flex-direction: column;
			align-items: stretch;
		}
	}

	// .portfolio__title

	&__title {
	}

	// .portfolio__controls

	&__controls {
		display: flex;
		align-items: center;
		gap: rem(16);
		@media (max-width: $mobile) {
			justify-content: space-between;
		}
	}

	// .portfolio__arrow

	&__arrow {
		// .portfolio__arrow_left
		width: rem(40);
		height: rem(40);
		background-color: #eae6fe;
		border-radius: rem(16);
		color: $purpleColor;
		font-size: rem(12);
		transition: background-color 0.3s ease 0s;
		@media (max-width: $mobile) {
			background-color: $purpleMediumColor;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #cbc2fc;
			}
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			cursor: default;
			background: #eae6fe;
			color: #7e74f1;
		}
		&_left {
			transform: rotate(180deg);
		}

		// .portfolio__arrow_right

		&_right {
		}
	}
	// .portfolio__slider

	&__slider {
		@media (max-width: em(650)) {
			margin-right: rem(-15);
			padding-right: rem(15);
		}
	}

	// .portfolio__wrapper

	&__wrapper {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 20, 15);
		}
	}

	// .portfolio__slide

	&__slide {
	}
}
.item-portfolio {
	border: 1px solid #f5f5f5;
	border-radius: rem(8);
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100%;
	// .item-portfolio__image-ibg

	&__image-ibg {
		overflow: hidden;
		padding-bottom: percent(295, 361);
		opacity: 0.5;
		transition: opacity 0.8s ease 0s;
		img {
			object-position: top;
			transition: transform 0.8s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				img {
					transform: scale(1.05);
				}
			}
		}
		@media (any-hover: none) {
			opacity: 1;
		}
	}

	// .item-portfolio__body

	&__body {
		padding: rem(24);
		display: flex;
		flex-direction: column;
		gap: rem(16);
		flex: 1 1 auto;
	}

	// .item-portfolio__title

	&__title {
		flex: 1 1 100%;
	}

	// .item-portfolio__link-title

	&__link-title {
		color: #232e35;
		line-height: math.div(20, 16);
		font-weight: 500;
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		gap: rem(16);
	}
	// .item-portfolio__category

	&__category {
	}

	// .item-portfolio__link

	&__link {
		font-size: rem(9.5);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}
}
// ===========================
.career {
	// .career__container
	background-color: $grayLightColor;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(70);
		padding-bottom: rem(20);
	}

	// .career__body

	&__body {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		@include adaptiveValue('column-gap', 144, 20);
		@include adaptiveValue('row-gap', 30, 20);
		@media (min-width: $mobile) {
			grid-template-columns: auto 1fr;
			grid-template-rows: auto 1fr;
			align-content: center;
			align-items: start;
			grid-auto-flow: column;
		}
	}

	// .career__navigation

	&__navigation {
		._tab-spoller & {
			display: none;
		}
	}

	// .career__content

	&__content {
		@media (min-width: $mobile) {
			@include adaptiveValue('padding-top', 32, 15);
			grid-row: span 2;
		}
	}
}
.navigation-career {
	display: grid;
	// .navigation-career__title

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 0.3s ease 0s;
		padding: rem(14) rem(24);
		text-align: left;
		line-height: math.div(19, 16);
		background-color: $purpleMediumColor;
		border-radius: rem(8);
		@media (max-width: $mobile) {
			width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: rem(9);
		}
		&__text {
		}
		&__arrow {
		}
		&._tab-active {
			color: #fff;
			background-color: $purpleColor;
		}
	}
}
.content-career {
	// .content-career__body

	&__body {
		._tab-spoller & {
			padding: rem(15) rem(0);
		}
	}
	// .content-career__header

	&__header {
		@include adaptiveValue('padding-bottom', 30, 20);
	}

	// .content-career__title

	&__title {
		font-size: rem(18);
		font-weight: 600;
		line-height: math.div(23, 18);
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	// .content-career__link-title

	&__link-title {
		font-weight: 500;
	}

	// .content-career__location

	&__location {
		color: $grayColor;
		font-size: rem(14);
		line-height: math.div(17, 14);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .content-career__time

	&__time {
		color: $grayColor;
		font-size: rem(14);
		line-height: math.div(24, 14);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .content-career__categories

	&__categories {
		display: flex;
		flex-wrap: wrap;
		gap: rem(5);
	}

	// .content-career__main

	&__main {
	}

	// .content-career__list

	&__list {
	}
}
.list-content-career {
	// .list-content-career__item

	&__item {
		padding-left: rem(28);
		color: $grayColor;
		line-height: math.div(19, 16);
		position: relative;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		&::before {
			content: '';
			background-color: #d9d9d9;
			width: rem(10);
			height: rem(2);
			position: absolute;
			left: 0;
			top: em(10, 16);
		}
	}
}
// ===========================
.blog {
	// .blog__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: rem(30);
		padding-top: rem(80);
	}

	// .blog__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 20);
		}
	}

	// .blog__items

	&__items {
		align-self: stretch;
		display: grid;
		@include adaptiveValue('gap', 40, 20);
		grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
	}

	// .blog__item

	&__item {
	}
}
.item-blog {
	min-height: 100%;
	display: flex;
	border-radius: rem(8);
	overflow: hidden;
	flex-direction: column;
	border: 1px solid #f1f1f1;
	// .item-blog__image-ibg

	&__image-ibg {
		overflow: hidden;
		padding-bottom: percent(243, 361);
		img {
			transition: transform 0.8s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}

	// .item-blog__body

	&__body {
		padding: rem(16) rem(16) rem(24) rem(16);
		display: grid;
		gap: rem(20);
	}

	// .item-blog__title

	&__title {
		font-weight: 500;
		line-height: math.div(24, 16);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}

	// .item-blog__date

	&__date {
		justify-self: start;
	}

	// .item-blog__text

	&__text {
	}

	// .item-blog__link

	&__link {
		margin-top: rem(22);
		justify-self: center;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}
}
// ===========================
.testimonials {
	background: #fbfbfb;
	// .testimonials__container
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(70);
		padding-bottom: rem(20);
	}

	// .testimonials__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 60);
		}
	}

	// .testimonials__items

	&__items {
		display: grid;
		@include adaptiveValue('column-gap', 40, 20);
		row-gap: rem(80);
		grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
	}

	// .testimonials__item

	&__item {
	}
}
.item-testimonials {
	// .item-testimonials__avatar
	border-radius: rem(8);
	background: #fff;
	display: flex;
	flex-direction: column;
	@include adaptiveValue('padding-left', 38, 10);
	@include adaptiveValue('padding-right', 38, 10);
	padding-bottom: rem(28);
	&__avatar-ibg {
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #fff;
		height: rem(96);
		width: rem(96);
		align-self: center;
		margin-top: rem(-48);
		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	// .item-testimonials__text

	&__text {
		flex: 1 1 auto;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 48, 20);
		}
	}

	// .item-testimonials__name

	&__name {
		font-size: rem(14);
		font-weight: 500;
		line-height: math.div(18, 14);
		&:not(:last-child) {
			margin-bottom: rem(9);
		}
	}

	// .item-testimonials__profession

	&__profession {
		align-self: flex-start;
	}
}
// ===========================
.skills {
	// .skills__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(80);
		padding-bottom: rem(30);
	}
	// .testimonials__title

	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 20);
		}
	}

	// .skills__body

	&__body {
		display: grid;
		@include adaptiveValue('gap', 100, 40);
		@media (min-width: em(850)) {
			grid-template-columns: 1fr percent(750, 1200);
		}
	}

	// .skills__timeline

	&__timeline {
	}

	// .skills__content

	&__content {
	}
}
.timeline {
	// .timeline__item
	display: grid;
	gap: rem(10);
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: rem(12);
		top: em(2.5, 16);
		height: 100%;
		width: 1px;
		background-color: $purpleColor;
	}
	&__item {
		padding-left: rem(40);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: rem(4);
			top: em(2.5, 16);
			width: rem(16);
			height: rem(16);
			border-radius: 50%;
			z-index: 3;
			background-color: $purpleColor;
		}
		&:last-child {
			&::after {
				content: '';
				z-index: 2;
				position: absolute;
				width: 1px;
				height: 100%;
				left: rem(12);
				bottom: 0;
				background-color: #fff;
			}
		}
	}

	// .timeline__title

	&__title {
		line-height: math.div(20, 16);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	// .timeline__text

	&__text {
		font-size: rem(14);
		line-height: math.div(17, 14);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 18, 10);
		}
	}

	// .timeline__date

	&__date {
		font-size: rem(14);
		line-height: math.div(17, 14);
		font-weight: 500;
	}
}
.content-skills {
	// .content-skills__text

	&__text {
		font-weight: 500;
		line-height: math.div(20, 16);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 25, 15);
		}
	}

	// .content-skills__items

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue('column-gap', 30, 15);
		row-gap: rem(10);
		align-items: end;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 20, 16);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: auto;
		}
	}

	// .content-skills__item

	&__item {
		display: grid;
		@include adaptiveValue('margin-bottom', 15, 15);
	}

	// .content-skills__label

	&__label {
		position: relative;
		padding-left: rem(25);
		font-weight: 500;
		line-height: math.div(17, 16);
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: rem(15);
			height: rem(15);
			border-radius: 50%;
			background-color: $purpleMediumColor;
			&--dark {
				background: $purpleColor;
			}
		}
		&--dark {
			&::before {
				background-color: $purpleColor;
			}
		}
	}

	// .content-skills__line

	&__line {
		width: 100%;
		padding-left: rem(25);
		height: rem(1);
		background: $purpleMediumColor;
		&--dark {
			background: $purpleColor;
		}
	}
}

// ===========================
.contacts {
	// .contacts__container
	background-color: $grayLightColor;
	flex: 1 1 auto;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(70);
		padding-bottom: rem(15);
	}
	// .contacts__body

	&__body {
		@media (min-width: em(850)) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	// .contacts__form

	&__form {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 20, 10);
		}
	}

	// .contacts__content

	&__content {
		@media (min-width: em(850)) {
			@include adaptiveValue('padding-left', 105, 20);
		}
	}

	// .contacts__list

	&__list {
	}
}
.form {
	// .form__item
	display: flex;
	flex-direction: column;

	&__item {
	}
	// .form__item-name

	&__item-name {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .form__item-email

	&__item-email {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .form__item-textarea

	&__item-textarea {
		height: rem(140);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 24, 16);
		}
	}

	// .form__input

	&__input {
		padding: rem(15) rem(24);
		align-items: center;
		height: rem(48);
		width: 100%;
		border-radius: rem(8);
		background: var(--white, #fff);
		&::placeholder {
			color: $grayColor;
		}
		&:focus {
			&::placeholder {
				color: $mainColor;
			}
		}
	}

	// .form__button

	&__button {
		background-color: $purpleColor;
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(49);
		width: 100%;
		border-radius: rem(8);
		color: #fff;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #6f66d3;
			}
		}
	}
	&__error {
		padding: rem(5) rem(24) rem(0) rem(24);
		color: red;
		font-size: rem(12);
	}
}
textarea.form__input {
	height: rem(140);
	resize: vertical;
}
.list-contacts {
	// .list-contacts__item

	&__item {
		display: flex;
		align-items: center;
		gap: rem(24);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 48, 20);
		}
	}

	// .list-contacts__icon

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(56);
		height: rem(56);
		padding: rem(16);
		border-radius: rem(16);
		background: var(--purple-light, #f5f3fe);
	}

	// .list-contacts__body

	&__content {
	}

	// .list-contacts__title

	&__title {
		font-weight: 500;
		line-height: math.div(19, 16);
		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}

	// .list-contacts__text

	&__text {
		font-size: rem(14);
		line-height: math.div(24, 14);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $purpleColor;
			}
		}
	}
}
// ===========================

.page {
	&__works {
		@include adaptiveValue('padding-top', 40, 20);
		@include adaptiveValue('padding-bottom', 40, 20);
	}
}
.works {
	&__container {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 20);
		}
	}

	&__controls {
	}

	&__dotts {
	}

	&__arrows {
		display: flex;
		gap: rem(16);
	}

	&__slider {
	}

	&__slide {
	}
	&__wrapper {
		border-radius: rem(20);
		overflow: hidden;
		position: relative;
	}

	&__image {
		padding-bottom: 30%;
	}

	&__content {
		position: absolute;
		right: rem(30);
		bottom: rem(30);
	}

	&__text {
	}

	&__arrow {
	}
	&__body {
		@include adaptiveValue('padding-top', 30, 10);
		@include adaptiveValue('padding-bottom', 10, 10);
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include adaptiveValue('gap', 20, 20);
	}

	&__title {
	}

	&__item {
		display: flex;
		gap: rem(10);
		align-items: center;
	}
}

.item-work {
	&__icon {
		display: flex;
		flex: 0 0 auto;
		justify-content: center;
		align-items: center;
		height: rem(32);
		width: rem(32);
		border-radius: 50%;
	}

	&__icon--purple {
		background-color: $purpleColor;
	}
	&__icon--grey {
		background-color: #666;
	}
	&__text {
		font-size: rem(18);
	}
}
